table {
  border-collapse: collapse;
}

td {
  border: none;
  border-width: 6px;
  border-bottom-style: double;
  border-color: black;
  padding: 0.5rem;
}

td.minCell {
  text-align: right;
  padding-right: 0;
}

td.maxCell {
  padding-left: 0;
}

td.innerCell {
  border: none;
  padding-bottom: 0.3em;
}

td.minCell:after {
  content: "\0000a0…\0000a0";
}
