.keyword {
    color: rgb(0, 0, 128);
    font-weight: bold;

    /* For SVG text and tspan elements */
    fill: rgb(0, 0, 128);
}

.field {
    color: rgb(102, 14, 122);
}

.final_field {
    color: rgb(102, 14, 122);
    font-weight: bold;
}

.static_field {
    color: rgb(102, 14, 122);
    font-style: italic;
}

.static_final_field {
    color: rgb(102, 14, 122);
    font-style: italic;
    font-weight: bold;
}

.num_lit {
    color: rgb(0, 9, 255);

    /* For SVG text and tspan elements */
    fill: rgb(0, 9, 255);
}

.text_lit {
    color: rgb(0, 128, 0);
    font-weight: bold;

    /* For SVG text and tspan elements */
    fill: rgb(0, 128, 0);
}

.comment {
    color: rgb(128, 128, 128);

    /* For SVG text and tspan elements */
    fill: rgb(128, 128, 128);
}

.method {
}

.static_method {
    font-style: italic;
}
